@model AssignmentPageVM
<!DOCTYPE html>
<html>
<head>
    <title>AssignmentPage</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="styleSheet" type="text/css" href="/StyleSheet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>
    <div class="navlogo">
        <a id="pic" href="#">
            <img src="~/academy_prestudies_logo_w_tag_RGB.png" width="255" height="105">
        </a>

        <ul class="nav">

            <li><a class="active" href="#home">Tillbaka</a></li>
            <li><a href="#news">Lärare</a></li>
            <li><a href="#contact">Kontakt</a></li>
            <li><a href="#about">Något mer</a></li>
        </ul>
        <div />

        <div class="banner">

            <form asp-controller="Assignments" asp-action="AssignmentPage">

                @Html.HiddenFor(x => x.UserId)
                @Html.HiddenFor(y => y.CourseId)
                @Html.HiddenFor(z => z.FinishedId)
                @Html.HiddenFor(u => u.Description)

                <input type="submit" value="COURSE COMPLETED" />
            </form>


            <a id="link" href="#completed">Klar med uppgift? Gå vidare?</a>
        </div>

        <div class="content">
            <h2>Uppgiftsnamn</h2>
            <h3>Description: @Model.Description</h3>

            <p>Länkar och information om vilka kapitel i boken för förstudierna som gäller inför denna uppgift</p>

            <p>
                kod kod kod kod kod kod kod kod kod kod kod kodkod kod kod kod kod
                kod kod kodkod kod kod kod kod kod kod kodkod kod kod kod kod kod kod kodkod kod
                kod kod kod kod kod kodkod kod kod kodkod kod kod kod kod kod kod kodkod kod kod kod
                kod kod kod kod
            </p>

            <p> länk till svarsalternativ eller svaret dolt</p>

            <p> Råd om vad man kan läsa och kolla på om man ahr svårt för uppgiften</p>
        </div>
    </div>
</body>
</html>