@model AssignmentPageVM
<!DOCTYPE html>
<html>
<head>
    <title>AssignmentPage</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="styleSheet" type="text/css" href="~/Styles/StyleSheet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Styles/prettify.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/prettify.js"></script>
    <script src="~/js/AssignmentPage.js"></script>
    <style>
    </style>
</head>
<body>
    <div class="header">
        <a href="#">
            <img src="~/Images/academy_logo_w_tag_RGB.png" width="255" height="105">
        </a>
    </div>
    <div>
        <ul class="nav">
            <li><a class="active" href="#home">Tillbaka</a></li>
            <li><a href="#news">Uppgift 1</a></li>
            <li><a href="#contact">Uppgift 2</a></li>
            <li><a href="#about">Uppgift 3</a></li>
            <li><a href="https://www.youtube.com/watch?v=sN88nACaNXE" target="_blank">Debug</a></li>
        </ul>
    </div>
    <div class="banner">

        <form asp-controller="Assignments" asp-action="AssignmentPage">

            @Html.HiddenFor(u => u.UserId)
            @Html.HiddenFor(c => c.CourseId)
            @Html.HiddenFor(n => n.Name)
            @Html.HiddenFor(d => d.Description)

            @for (int i = 0; i < Model.LinkInfos.Count; i++)
            {
                @Html.HiddenFor(l => l.LinkInfos[i])
            }

            @for (int i = 0; i < Model.Urls.Count; i++)
            {
                @Html.HiddenFor(l => l.Urls[i])
            }

            @for (int i = 0; i < Model.Instructions.Count; i++)
            {
                @Html.HiddenFor(l => l.Instructions[i])
            }

            @for (int i = 0; i < Model.Solutions.Count; i++)
            {
                @Html.HiddenFor(l => l.Solutions[i])
            }

            @for (int i = 0; i < Model.TipInfos.Count; i++)
            {
                @Html.HiddenFor(l => l.TipInfos[i])
            }

            @if (Model.FinishedId == true)
    {
        <p> <button type="submit"><img width="20" src="~/Images/redo.png"></button> Gör om uppgiften </p>
}
else
{
        <p><button type="submit"><img width="20" src="~/Images/completed.png"></button> Gör klart uppgiften </p>
}

        </form>

        <p>Klar med @Model.Name:@Model.FinishedId</p>

    </div>

    <div class="content">
        <h3>Kapitel: @Model.Name</h3>

        <div class="rcorners1">
            <p >Description: @Model.Description  (Information om vilka kapitel i boken för förstudierna som gäller inför denna uppgift)</p>
            <a id="link" href="https://mva.microsoft.com/sv-se/training-courses/grundlggande-programmering-8698?l=fyp5owH1_7204984382" target="_blank">Videokurs: Variabler</a>
        </div>

        <br />

        <div>
            <p>Instruction: @Model.Instructions[0]</p>
        </div>

        <div>
            <button id="btnsolutionone">Tryck här för första lösningsförslaget</button>
            <div id="solutionone">
                <pre class="prettyprint">
                @Model.Solutions[0]
                </pre>
            </div>
        </div>
        <div>
            <button id="btnsolutiontwo">Tryck här för andra lösningsförslaget</button>
            <div id="solutiontwo">
                <pre class="prettyprint">
                @Model.Solutions[1]
                </pre>
            </div>
        </div>
        <div>
            <button id="btnsolutionthree">Tryck här för tredje lösningsförslaget</button>
            <div id="solutionthree">
                <pre class="prettyprint">
                @Model.Solutions[2]
                </pre>
            </div>
        </div>
        <br />
        <br />
        <div>
            <p class="rcorners1"> Tipsinfo: @Model.TipInfos[0]  (Råd om vad man kan läsa och kolla på om man har svårt för uppgiften)</p>
            <div>

                <a href="@Model.Urls[0]" target="_blank">@Model.LinkInfos[0]</a>

                <br />

                <a href="@Model.Urls[1]" target="_blank">@Model.LinkInfos[1]</a>
            </div>
        </div>

    </div>
    

    <script>
        prettyPrint();
    </script>
</body>
</html>