@model AssignmentPageVM
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h1>AssignmentPage</h1>
    <p>@Model.Name</p>
    <p>@Model.Description</p>

    <p>@Model.CourseId</p>
    <p>@Model.UserId</p>
    <p>@Model.FinishedId</p>
   

</body>
</html>