@model AssignmentPageVM
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h1>AssignmentPage</h1>
    <p>Name: @Model.Name</p>
    <p>Description: @Model.Description</p>

    <p>CourseId: @Model.CourseId</p>
    <p>UserId: @Model.UserId</p>
    <p>FinishedId: @Model.FinishedId</p>

    <button>COURSE FINISHED</button>
    @*Anropa metod CourseFinished(); (via action?) med CourseID och UserID*@
   

</body>
</html>