@model AssignmentPageVM
<!DOCTYPE html>
<html>
<head>
    <title>AssignmentPage</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="styleSheet" type="text/css" href="/StyleSheet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>
    <div class="navlogo">
        <a id="pic" href="#">
            <img src="~/Images/academy_logo_w_tag_RGB.png"  width="255" height="105">
        </a>

        <ul class="nav">

            <li><a class="active" href="#home">Tillbaka</a></li>
            <li><a href="#news">Uppgift 1</a></li>
            <li><a href="#contact">Uppgift 2</a></li>
            <li><a href="#about">Uppgift 3</a></li>
        </ul>
        <div />

        <div class="banner">

            <form asp-controller="Assignments" asp-action="AssignmentPage">

                @Html.HiddenFor(u => u.UserId)
                @Html.HiddenFor(c => c.CourseId)
                @Html.HiddenFor(n => n.Name)
                @Html.HiddenFor(d => d.Description)
                @Html.HiddenFor(l => l.LinkInfos[0])
                @Html.HiddenFor(url => url.Urls[0])
                @Html.HiddenFor(i => i.Instructions[0])
                @Html.HiddenFor(s => s.Solutions[0])
                @Html.HiddenFor(t => t.TipInfos[0])


                @if (Model.FinishedId == true)
                { 
                    <button type="submit"><img width="20" src="~/Images/redo.png"></button>
                    <p> Gör om uppgiften </p>
                }
                else
                {
                    <button type="submit"><img width="20" src="~/Images/completed.png"></button>
                    <p> Gör klart uppgiften </p>
                }

            </form>

            <p>Klar med @Model.Name:@Model.FinishedId</p>

            
        </div>

        <div class="content">
            <h3>Kursnamn: @Model.Name</h3>

            <p>Description: @Model.Description  (Information om vilka kapitel i boken för förstudierna som gäller inför denna uppgift)</p>
            
            <p>Linkinfo: @Model.LinkInfos[0]</p>
            
            <a href="@Model.Urls[0]">Link</a>


            <p>
                Instruction: @Model.Instructions[0]
                (kod kod kod)
            </p>

            <p> Solution: @Model.Solutions[0] (solutionlänk till svarsalternativ eller svaret dolt)</p>

            <p> Tipsinfo: @Model.TipInfos[0]  (Råd om vad man kan läsa och kolla på om man ahr svårt för uppgiften)</p>
        </div>
    </div>
</body>
</html>