@model AssignmentPageVM
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h1>AssignmentPage</h1>


    <form asp-controller="Assignments" asp-action="AssignmentPage">

        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(y => y.CourseId)
        @Html.HiddenFor(z => z.FinishedId)
        @Html.HiddenFor(u => u.Description)

        <input type="submit" value="COURSE COMPLETED" />
    </form>

    <h2>Description: @Model.Description</h2>


</body>
</html>