@model CourseFrontPageVM
<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon"
          type="image/png"
          href="~/Images/icons/academyfavicon.png">

    <title> CourseFrontPage </title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="styleSheet" type="text/css" href="/StyleSheet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>
    

    <div class="header">
        <a href="#">
            <img src="~/Images/academy_logo_w_tag_RGB.png" width="255" height="105">
        </a>
    </div>

        <ul class="nav">

            <li><a class="active" href="#home">Tillbaka</a></li>
            <li><a href="#news">Lärare</a></li>
            <li><a href="#contact">Kontakt</a></li>
            <li><a href="#about">Något mer</a></li>

            @foreach (var item in Model.Courses)
            {
             <li>
                 <a href="AssignmentPage/@item.Id">@item.Name</a>
             </li>
            }
        </ul>

        <div class="banner">
            <p>Välkommen: @Model.UserName, du är klar med @Model.ProgressbarValue % av förstudierna</p>
            @*<p>Du är klar med @Model.ProgressbarValue % av förstudierna</p>*@
            <progress max="100" value="@Model.ProgressbarValue"></progress>
            
        </div>

        <div class="content">
            <h1> Hej och välkommen till förstudierna för C# på Academy.</h1>

            <p>
                Här har vi samlat all information om förstudierna, detta för att underlätta studierna då det innehåller mycket nytt för många av er.

                Varje uppgift här är uppdelade efter bokens kapitel och videokursen kapitel, detta betyder att varje del kommer påvisa vad som skall ha läst i Förstudieboken och vilka uppgifter som skall vara avklarade i övningsboken. Här kommer även en länk till den delen av videokursen som tillhör uppgiften att finnas tillgänglig.

                Varje kapitel/sida kommer innehålla några övningar som går igenom det som lärts i kapitlet.
                Det finns möjlighet att finna svar som kan hjälpa till med övningarna om det skulle behövas.


                Det kommer även finnas länkar som tipsar om fler övningar och videos om man upplever att man inte har fått tillräcklig grund med sig.
                Dock rekommenderas alltid att gå igenom bokens kapitel och videokursen igen om man upplever att man inte har med sig ett kapitel till 100%.

                Vi hoppas detta kommer underlätta era första steg mot att bli grymma kodare.
                <br /><strong>May the code be with you</strong>
            </p>
            <br />
            <p>
                Då det tar tid att bli en bra kodare som finns det en sak som kan underlätta och detta är debugging i Visual studio desto fortare ni lär er hantera detta desto fortare kommer ni kunna utvecklas i programmering.

                Därav rekommenderar vi er att se denna video ett flertal gånger då den delger mycket tips och tricks angående hur kompilatorn kan hjälpa er att se vad som är fel i er kod.
            <p> Här är länken till Pontus Visual Studio 2017 Debugging Tips and Tricks <a href="https://www.youtube.com/watch?v=sN88nACaNXE" target="_blank">Debug</a></p>
      
        </div>
    
</body>
</html>